<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Data Source: Gene Ontology (http://www.geneontology.org/) 
Data Type: Gene Ontology term (one of: molecular function, cell component, biological process)
Properties: subclass of (GO term), part of (GO term), has part (GO term), regulates (molecular biology) (GO term)
External IDs: Gene Ontology ID
Schedule: Runs Monthly</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>pwd
echo $WDUSER

virtualenv -p python3.6 venv
. venv/bin/activate
pip install --upgrade pip
pip install wikidataintegrator

git clone https://github.com/sulab/scheduled-bots.git
cd scheduled-bots
python3 setup.py install
pip install jsonasobj
pip install -r requirements.txt
cd ..

cd scheduled-bots/scheduled_bots/ontology/

python3 obographs_GO.py /var/lib/jenkins/workspace/GOTrigger/go.json
python3 ../logger/bot_log_parser.py logs
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.37">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>